html {
    font-family: sans-serif;
}

body {
    color: #333;
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
}

.colors_info{
    color: #5DADE2;
}

.title{
    
}

.undertitle{
    
}

span{
    font-style: italic;
}
